.user-content{
    width: 100%;
    position: relative;
    overflow: hidden;
}
.banner{
    background-image: linear-gradient(to right top, #2b3f90, #2a52a7, #2766be, #207bd5, #1290eb);;
    //height: 400px;
    width: 100%;
}
.info-single{
    text-align: center;
}
.info-single h2{
    color: white;
    font-size: 50px;
    padding-top: 55px;
}
.info-single h2 span{
    font-size: 35px;
}

.info-single img{
    border-radius: 50%;
    position: relative;
    bottom: -33px;
    z-index: 1;
}

.card-single{
    padding: 50px;
}
.card-single h5, .card-single p{
    text-align: left;
}
.email-single{
    font-weight: bold;
    text-align: center;
}

.spinner {
    width: 40px;
    height: 40px;
  
    position: relative;
    margin: 100px auto;
  }
  
  .double-bounce1, .double-bounce2 {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #333;
    opacity: 0.6;
    position: absolute;
    top: 0;
    left: 0;
    
    -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
    animation: sk-bounce 2.0s infinite ease-in-out;
  }
  
  .double-bounce2 {
    -webkit-animation-delay: -1.0s;
    animation-delay: -1.0s;
  }
  
  @-webkit-keyframes sk-bounce {
    0%, 100% { -webkit-transform: scale(0.0) }
    50% { -webkit-transform: scale(1.0) }
  }
  
  @keyframes sk-bounce {
    0%, 100% { 
      transform: scale(0.0);
      -webkit-transform: scale(0.0);
    } 50% { 
      transform: scale(1.0);
      -webkit-transform: scale(1.0);
    }
  }