a:link, a:visited, a:active{
    text-decoration: none !important;
    color: initial;
    text-decoration-line: none
}

.principal{
    margin-top: 20px;
}
.card{
    z-index: auto;
    box-shadow: 0 12px 9px -5px rgba(0,0,0,0.12), 0 10px 32px 0 rgba(0,29,124,0.12);
    position: relative;
    background: #ffffff;
    transition: 0.3s box-shadow, 0.3s transform;
    border-radius: 6px;
    padding: 20px 0px 0px 0px;
    text-align: center;
    margin-bottom: 30px;
}
.card img{
    border-radius: 50%;
    cursor: pointer;    
}
.user-info{
    background: #eee;
    padding: 20px 0px 20px 0px;
    margin-top: 20px;
}
.user-info label{
    padding-right: 10px;
    color: initial;
    cursor: pointer;
}
.btn-add{
    background: #2766be;
    border: 0px;
    width: 55px;
    height: 55px;
    border-radius: 50%;
    color: white;
    position: fixed;
    right: 40px;
    bottom: 30px;
    transition: all 0.6s;
}

.btn-add:link, .btn-add:visited, .btn-add:active, .btn-add:focus{
    color: white;
    border: 0px;
    outline: initial;
    background: #2b3f90;
}